<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			[v-cloak]{
				display: none;
			}
		</style>
	</head>
	<body>
		<div id="todo" v-cloak>
		<input type="text" placeholder="please input..."  v-model="newTodo"   @keyup.enter="addNewTodo" /><button @click="addNewTodo">add</button>
		<p>代办事件列表：</p>
		<ul>
			<li v-for="(todo,index) in todos">
				<button @click="completeTodo(index)">√</button>
				{{todo.content}}
				<button @click="removeTodo(index)">x</button>
			</li>
		</ul>
		<p>已完成事件列表：</p>
		<ul>
			<li v-for="havedone in thingsHavedone">
				{{havedone.content}}
			</li>
		</ul>
		<p>已删除事件列表：</p>
		<ul>
			<li v-for="cancelled in thingsCancelled">
				{{cancelled.content}}
			</li>
		</ul>
		</div>
		
		<script src="js/vue.js"></script>
		<script type="text/javascript">
			var todos = new Vue({
				el:'#todo',
				data:{
					todos:[{
						content:'todo1'
					},{
						content:'todo2'
					},{
						content:'todo3'
					}],
					newTodo:'',
					thingsHavedone:[],
					thingsCancelled:[]
				},
				methods:{
					addNewTodo:function(){
						this.todos.push({
							content:this.newTodo
						});
						this.newTodo=''
					},
					removeTodo:function(index){
						var thing = this.todos.splice(index,1);
						console.log(JSON.stringify(thing));
						this.thingsCancelled.push(thing[0])
					},
					completeTodo:function(index){
						var thing = this.todos.splice(index,1);
						this.thingsHavedone.push(thing[0])
					}
				}
			})
		</script>
	</body>
</html>
